{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/style.css'%}" rel="stylesheet" >
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <title>Toko Omline</title>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row header1 justify-content-center">
                <div class="col-2 header2 text-center py-3">
                    <h5 class="text-white font-weight-bold m-0">Toko Online</h5>
                </div>
                <div class="col-10 py-3 >">
                   <h6 class="text-white m-0"> <a href="{% url 'halaman_home' %}">Home</a></h6>
                    
                </div>

            </div>
        </div>
    </header>
    {%block content%}
    {%endblock%}
</body>
</html>